In [13]:
import pandas as pd
import re
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns

In [11]:
Ventas = pd.read_excel(r"C:\Users\Bleii\OneDrive - Intermarca\REPOSITORIO\REPORTES AZULES\LIVERPOOL\VentaseInventarios.xlsx")

In [15]:
df = Ventas
columnas=df.columns
columnas

Index(['Artículo', 'Descripcion', 'Estado', 'Modelo', 'EAN/UPC', 'Temporada',
       'CP', 'Vta. Acum.Año U', 'On Hand', 'IT Comercial', 'IT Logistico',
       'Distr.Centro', 'OO (En curso proveedor)', 'AGO 2023', 'JUL 2023',
       'JUN 2023', 'MAY 2023', 'ABR 2023', 'MAR 2023', 'FEB 2023', 'ENE 2023',
       'DIC 2022', 'NOV 2022', 'OCT 2022', 'SEP 2022', 'AGO 2022', 'JUL 2022',
       'JUN 2022', 'MAY 2022', 'ABR 2022', 'MAR 2022', 'FEB 2022'],
      dtype='object')

In [16]:
list_remove=['ENE','FEB','MAR','ABR','MAY','JUN','JUL','AGO','SEP','OCT','NOV','DIC']
cols=columnas.tolist()
for each in list_remove:
  for c in cols:
      if each in c:
          cols.remove(c)
print(cols)

['Artículo', 'Descripcion', 'Estado', 'Modelo', 'EAN/UPC', 'Temporada', 'CP', 'Vta. Acum.Año U', 'On Hand', 'IT Comercial', 'IT Logistico', 'Distr.Centro', 'OO (En curso proveedor)']

In [17]:
df = df.melt(id_vars=cols, var_name='Mes', value_name='Ventas')
df

,Artículo,Descripcion,Estado,Modelo,EAN/UPC,Temporada,CP,Vta. Acum.Año U,On Hand,IT Comercial,IT Logistico,Distr.Centro,OO (En curso proveedor),Mes,Ventas
0,67711351,"ZAPATO PIKOLINOS BER, 31, CAFÉ OBSCURO",Desactivado c/Rebaja,BERMEO M0M-3157,2050101074866,Temporada,1,4.0,0.0,NaN,NaN,0.0,0.0,AGO 2023,NaN
1,1006266327,"ZAPATO PIKOLINOS 08F, 28, CAFÉ OBSCURO",Desactivado c/Rebaja,08F-5013 OVIEDO,2050056684325,Compra única,9,NaN,-1.0,NaN,NaN,0.0,0.0,AGO 2023,NaN
2,1011200105,"ZAPATO PIKOLINOS OVIEDO 08F-, 26, MIEL",Desactivado c/Rebaja,OVIEDO 08F-5013,2050059283198,Compra única,9,NaN,0.0,NaN,NaN,0.0,0.0,AGO 2023,NaN
3,1011200113,"ZAPATO PIKOLINOS OVIEDO 08F-, 27, MIEL",Desactivado c/Rebaja,OVIEDO 08F-5013,2050059283204,Compra única,9,NaN,0.0,NaN,NaN,0.0,0.0,AGO 2023,NaN
4,1021188481,"ZAPATO PIKOLINOS 578-7441A, 38, PERLA",Desactivado c/Rebaja,578-7441A,2050064697980,Compra única,1,-1.0,0.0,NaN,NaN,NaN,NaN,AGO 2023,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100353,1139394247,"TENIS MARTINELLI NEWPORT, 27 CM, CAFÉ",Activo,NEWPORT 1513-2708L,8445442189524,Compra única,9,NaN,NaN,NaN,NaN,36.0,36.0,FEB 2022,NaN
100354,1139394255,"TENIS MARTINELLI NEWPORT, 28 CM, CAFÉ",Activo,NEWPORT 1513-2708L,8445442189531,Compra única,9,NaN,NaN,NaN,NaN,34.0,34.0,FEB 2022,NaN
100355,1139394263,"TENIS MARTINELLI NEWPORT, 29 CM, CAFÉ",Activo,NEWPORT 1513-2708L,8445442189548,Compra única,9,NaN,NaN,NaN,NaN,31.0,31.0,FEB 2022,NaN
100356,1139394271,"TENIS MARTINELLI NEWPORT, 30 CM, CAFÉ",Activo,NEWPORT 1513-2708L,8445442189555,Compra única,9,NaN,NaN,NaN,NaN,10.0,10.0,FEB 2022,NaN
100357,1139394620,"ZAPATO MARTINELLI WALDEN, 31 CM, NEGRO",Activo,WALDEN 1606-2732L,8445442167072,Compra única,1,NaN,NaN,NaN,NaN,5.0,5.0,FEB 2022,NaN

In [18]:
def obtener_parte_numerica(texto):
    patron = r'\d+'  # Expresión regular para encontrar una o más cifras
    coincidencias = re.findall(patron, texto)

    if coincidencias:
        return int(coincidencias[0])  # Convertir la coincidencia en un entero
    else:
        return None

In [19]:
df['AÑO']=df['Mes'].apply(lambda x: obtener_parte_numerica(x))
df['NOMBRE MES']=df['Mes'].apply(lambda x:re.sub(r'\d+', '', x))

In [21]:
def orden_mes(texto):
      if texto=='ENE':
        return 1
      elif texto=='FEB':
        return 2
      elif texto=='MAR':
        return 3
      elif texto=='ABR':
        return 4
      elif texto=='MAY':
        return 5
      elif texto=='JUN':
        return 6
      elif texto=='JUL':
        return 7
      elif texto=='AGO':
        return 8
      elif texto=='SEP':
        return 9
      elif texto=='OCTL':
        return 10
      elif texto=='NOV':
        return 11
      elif texto=='DIC':
        return 12

In [22]:
df['NUMERO MES']=df['NOMBRE MES'].apply(lambda x: (orden_mes(x.strip())))

In [29]:
# Extraer el último elemento después de la última coma
df['color'] = df['Descripcion'].apply(lambda x: x.split(',')[-1].strip())

In [28]:
# Ruta de archivo para guardar el Parquet
ruta_archivo_parquet = r'C:\Users\Bleii\OneDrive - Intermarca\REPOSITORIO\REPORTES AZULES\LIVERPOOL\salida_VentasLiverpool.parquet'

# Exportar el DataFrame a formato Parquet
df.to_parquet(ruta_archivo_parquet, index=False)

print("DataFrame exportado a formato Parquet.")

DataFrame exportado a formato Parquet.

In [ ]:
#prueba sandra